{% extends 'base.html' %}

{% block content %}

<h1 align="center">Все ноутбуки</h1>

{% if noutbuks %}
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">Описание</th>
              <th scope="col">Цена</th>
            </tr>
          </thead>
          <tbody>
            {% for noutbuk in noutbuks %}
                <tr>
                    <td scope="row"><a href={{noutbuk.link}}>{{noutbuk.description}}</a></td>
                    <td>{{noutbuk.price}}</td>
                </tr>
            {% endfor %}

          </tbody>
        </table>
    </div>
</div>
{% else %}
    <h2>К сожалению ноутбуков нет</h2>
{% endif %}

{% endblock %}

